<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="c-sidenavbar w-nav">
    <div data-w-id="9a088b48-5321-7ad1-2ac5-f12bb4fdf344" class="c-sidenavbar-container w-container">
      <div class="c-menu-controls">
        <div class="c-side-brand-logo">
          <a href="{{ links.2f }}" aria-current="page" class="side-brand-logo w-nav-brand w--current"><img src="{{ images.9704ad.url }}" loading="lazy" width="120" alt="{{ images.9704ad.alt | trim | escape }}" class="image-3"></a>
          <div data-w-id="9a088b48-5321-7ad1-2ac5-f12bb4fdf348" class="nav-button-animated-2 w-nav-button">
            <div data-w-id="9a088b48-5321-7ad1-2ac5-f12bb4fdf349" class="top-line-2"></div>
            <div data-w-id="9a088b48-5321-7ad1-2ac5-f12bb4fdf34a" class="middle-line-2"></div>
            <div data-w-id="9a088b48-5321-7ad1-2ac5-f12bb4fdf34b" class="bottom-line-2"></div>
          </div>
        </div>
      </div>
      <nav role="navigation" class="c-side-navmenu w-nav-menu">
        <div class="ci-side-navlinks">
          <div class="c-side-navlink">
            <a href="{{ links.2f }}" aria-current="page" class="c-navlinks _1 w-inline-block w--current">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="{{ images.76a4b927.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:1279,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:1439,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:1919,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.76a4b927.alt | trim | escape }}" class="navlink-icon"></div>
                <div class="c-navlink-text">
                  <div class="_w-navlink-text">
                    <div class="navlink-text">{{ texts.2086fb30 }}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="c-side-navlink">
            <a href="{{ links.-58691205 }}" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="{{ images.-a4ec514.url }}" loading="lazy" width="80" alt="{{ images.-a4ec514.alt | trim | escape }}" class="navlink-icon"></div>
                <div class="c-navlink-text">
                  <div class="_w-navlink-text">
                    <div class="navlink-text">{{ texts.2f942b4a }}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="c-side-navlink">
            <a href="{{ links.6b63c3a3 }}" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="{{ images.-65159d25.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:1279,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:1439,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:1919,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.-65159d25.alt | trim | escape }}" class="navlink-icon"></div>
                <div class="c-navlink-text">
                  <div class="_w-navlink-text">
                    <div class="navlink-text">{{ texts.-71af704d }}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="c-side-navlink">
            <a href="{{ links.-935b925 }}" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="{{ images.10d4d746.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:1279,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:1439,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:1919,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.10d4d746.alt | trim | escape }}" class="navlink-icon"></div>
                <div class="c-navlink-text">
                  <div class="_w-navlink-text">
                    <div class="navlink-text">{{ texts.-25e41ca0 }}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="c-side-navlink">
            <a href="{{ links.23 }}" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="{{ images.-375a3b3a.url }}" loading="lazy" alt="{{ images.-375a3b3a.alt | trim | escape }}" class="navlink-icon"></div>
                <div class="c-navlink-text">
                  <div class="_w-navlink-text">
                    <div class="navlink-text">{{ texts.-29709c17 }}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="c-nav-divider">
          <div class="nav-divider"></div>
        </div>
        <div class="c-nav-extra-links">
          <div class="c-navlinks-item">
            <a href="{{ links.23 }}" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="{{ images.2dcb0051.url }}" loading="lazy" alt="{{ images.2dcb0051.alt | trim | escape }}" class="navlink-icon"></div>
                <div class="c-navlink-text">
                  <div class="_w-navlink-text">
                    <div class="navlink-text">{{ texts.7f2746de }}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>